body {
	background-image: url("../images/background.png")
}

.container {
	color: white;
	/*background-color: orange;*/
}

.col-sm-12 {
	/*background-color: green;*/
}

.row {
	text-align: center;
}

h2 {
	border-style: solid;
	color: white;
}

p {
	/*background-color: purple;*/
	text-align: left;
	border-style: dashed;
	padding: 10px;
	background-color: black;
	font-size: 20px;
}

h1 {
	text-align: center;
	color: white;
}

img {
	text-align: center;
	height: 160px;
}

button {
	text-align: center;
}



