.container {
	color: red;
	background-color: orange;
}

.col-sm-12 {
	background-color: green;
}

p {
	background-color: purple;
}

h1 {
	text-align: center;
}

img {
	background-color: teal;
}

button {
	text-align: center;
}