.container {
	color: black;
	/*background-color: orange;*/
}

.col-sm-12 {
	/*background-color: green;*/
}

.row {
	text-align: center;
}

h2 {
	border-style: solid;
}

p {
	/*background-color: purple;*/
	text-align: left;
	border-style: solid;
	padding: 10px;
}

h1 {
	text-align: center;
}

img {
	background-color: teal;
	text-align: center;

}

button {
	text-align: center;
}



